<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Boina editorial tienda</title>
</head>
<body>
    boina 1
    <br>
    <%- body %> 
    <br>
    boina 3
</body>
</html>